body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #222222;
}

ul{
    display: inline;
    padding: 0;
    list-style-type: none;
}

li{
    marker: none;
}

.navbar{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid #45D62B;
    border-width: 2px;
    position: fixed;
}

.navbarLogo{
    height: 50px;
    width: 50px;
    margin: 0;
    padding-right:2rem ;
}

   
.navbarList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #888;
    margin: 0;
   
}   

.navbarListElement{
    marker: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cartLogo{
    color: #888;
    padding-left: 2rem;
}
.cartLogo:hover{
    color: white;
    cursor: pointer;
}

.navbarListElement:hover{
    color: white;
    cursor: pointer;
}

.textBelowNavbar{
    background-color: #555555;
    color: #EEEEEE;
    text-align: center;
    justify-content: center;
    padding: 11.5px 40px 9.5px 30px ;
    font-size: 14px;
    font-weight: 400;
    position: static;
    padding-top: 80px;
}

.joinNowLink:hover{
    text-decoration: underline;
    cursor: pointer;
}

.differentPageOne{
    background-image: url("./Images/white-gaming-image.webp");
    margin: 0;
    height: 700px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: 62px;
    margin-bottom: 10px;
}  

.differentPageTwo{
    background-image: url("./Images/gaming-pic-razer.webp");
    margin: 0;
    height: 700px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: 62px;
    margin-bottom: 10px;
}  

.differentPageThree{
    background-image: url("./Images/lamborghini-image-razer.webp");
    margin: 0;
    height: 700px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: 62px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}  

.pageThreeExclusiveBlock{
    align-self: center;
    background-color: #fe9c08;
    padding-left: 1rem;
    width: 100px;
    margin-top: 2rem;
}

.lineOne{
    margin: 0;
    color: #FFFFFF;
    font-size: 56px;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
}

.lineTwo{
    margin: 0;
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    margin-top: 12px;
    font-weight: 300;
}

.lineThree{
    margin: 0;
    color: #FFFFFF;
    font-size: 21px;
    margin-top: 10px;
    text-align: center;
    font-weight:300 ;
}

.differentPageThree .lineOne{
    padding-top: 30px;
}

.differentPageThree .lineThree{
    display: flex;
    flex-direction: row;
    width: 200px;
    align-content: space-between;
    
}

.differentPageOne:hover{
    cursor: pointer;
}

.differentPageTwo:hover{
    cursor: pointer;
}

.differentPageThree:hover{
    cursor: pointer;
}

.lineThreeLink{
    color: #45D62B
}

.lineThreeElement:hover{
    text-decoration: underline;
}

.exclusiveBlockOne{
     font-weight: 300;
    font-size: 9.6px;
}
.exclusiveBlockTwo{
   font-weight: 700;
    font-size: 14px;
} 

.gridSection{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 570px 570px 570px;
    /* max-height: 714px; */
    color: #FFFFFF;
    column-gap: 10px;
    row-gap: 10px;
}

.box:nth-child(1){
    background-image: url(./Images/chairPicture-razer.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.box:nth-child(2){
    background-image: url(./Images/mercury-blade16-blade18-b-950x580-desktop.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.box:nth-child(3){
    background-image: url(./Images/razer-blade-14-2023-b-950x580-desktop.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.box:nth-child(4){
    background-image: url(./Images/hyperpolling-razer.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.box:nth-child(5){
    background-image: url(./Images/starwars-razer.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.box:nth-child(6){
    background-image: url(./Images/giftcard-razer.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.boxLineOne{
    margin: 0;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
}
.boxLineTwo{
    margin: 0;
    color: #FFFFFF;
    font-size: 21px;
    text-align: center;
    margin-top: 12px;
    font-weight: 300;
}
.boxLineThree{
    margin: 0;
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    font-weight:300 ;
}

.boxLineOne sup{
    font-size: 17px;
}
.box:hover{
    cursor: pointer;
}
.boxLineThreeLink{
    color: #45D62B
}
.boxLineThreeElement:hover{
    text-decoration: underline;
}

.footerMain{
    bottom: 0;
    margin-top: 10px;
    background-color:#111111;
    color: #888;
    padding: 30px 80px;
}
.footerFirst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerlist{
    font-weight: 400;
}
.footerHElement{
    font-size: 12px; 
    color: #FFFFFF;
}
.footerElement{
    padding-top: 0.5rem;
    font-size: 12px;
}
.footerElement:hover{
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: underline;
}
.footerExtra{
    color: #45D62B;
    font-size: 14.4px;
    margin-left: 170px;
}

hr {
    border: 0.5px solid #888888;
    margin-left: 28px;
    height: 0px;
}
.lastLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin-left: 28px;
}
.lastLineH{
    padding-left: 1rem;
    padding-right: 1rem;;
}
.lastLineH:hover{
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: underline;
}
.US{
    color: #FFFFFF;
}
.location:hover{
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: underline; 
}
